/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.fa-location-dot {
    color: black;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.section-title {
    margin: 0.75rem 0 1.5rem 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card {
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.cursor-pointer {
    cursor: pointer;
}

/****** En-tête ******/

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.5rem;
}

.logo {
    display: block;
    height: 19px;
}

nav {
    display: flex;
}

.nav-text {
    margin-right: 2rem;
    border-top: transparent solid 0.1rem;
}

.nav-text, .logo {
    padding-top: 0.5rem;
}

.nav-text:hover {
    border-top: #0065FC solid 0.1rem;
    color: #0065FC;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 1.5rem;
    padding-bottom: 0;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/* Recherche Hébergement */

.recherche-hebergement {
    margin-bottom: 1.2rem;
}

.form-city-search {
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0 1rem 0;
    align-items: center; 
    border-radius: 1rem;
}

.localisation {
    width: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
}

.submit-city-search, .field-city-search {
    margin: 0;
}

.field-city-search {
    border: #F2F2F2 solid 1px;
    border-left: none;
    border-right: none;
    padding-left: 0.75rem;
    width: 10rem;
    font-weight: 700;
    font-size: 1rem;
    height: 3rem;
}

.submit-city-search {
    background-color: #0065FC;
    border: none;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 700;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1rem 0 1rem;
    height: 3.25rem;
}

.filtres {
    font-size: 1.1rem;
}

.filtres-container {
    display: flex;
    margin-top: 2rem;
}

.filtres-detail {
    display: flex;
}

.filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #D9D9D9 solid 0.1rem;
    border-radius: 25px;
    height: 40px;
    padding: 4px, 19px, 4px, 19px;
    margin: 0 0 0 15px;
}

.filtre:hover {
    background-color: #DEEBFF;
}

.filtre > i {
    padding-left: 1rem;
    padding-right: 1rem;
}

.filtre > span {
    padding-right: 1rem;
}

.info-nombre-logements {
    display: flex;
    align-items: center;
    padding-top: 1.1rem;
}

.fa-info {
    border: #D9D9D9 solid 1px;
    border-radius: 50%;
    height: 1rem;
    width: 1.25rem;
    margin-right: 0.5rem;
    padding-top: 3px;
    font-size: 0.8rem;
}

/* Hébergements, Cartes */

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.8rem;
}

.hebergements-cards a {
    margin-bottom: 1.25rem;
    width: 32%
}

.hebergements-cards img {
    width: 99%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-subtitle {
    padding: 0.3rem 0 0.3em 0;
}

.hebergements-cards .card-title, .hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-content {
    margin: 0.25rem 0 0 0.5rem;
}

.afficher-plus {
    font-size: 1.1rem;
    font-weight: 700;
}

.center {
    text-align: center;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-bottom: 1.5rem;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
.center {
    text-align: center;
}

/****** Activités ***********/

#activites {
    margin-top: 2rem;
    padding: 1.5rem;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
}

.activites-cards .card {
    width: 300px;
    height: 450px;
    padding: 0;
    margin: 0 0.1rem 0 0.1rem;
}

.activites-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 88%;
    width: 100%;

}

.activites-cards .card-title {
    margin: 1rem 0 1rem 1rem;
}

/********* Footer ********/

footer {
    display: flex;
    background-color: var(--main-bg-color);
    padding: 1rem;
}

footer h3 {
    font-size: 1rem;
    margin: 0;
}

footer li {
    padding-bottom: 0.75rem;
    margin: 0 15rem 0 2rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}